In [1]:
# dependencies
import pandas as pd
import gmaps
import requests

# import api
from config import g_key

In [2]:
# store the csv into df
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2022-01-26 16:12:04,-42.8794,147.3294,62.06,77,84,1.99
1,1,Ushuaia,AR,2022-01-26 16:12:04,-54.8000,-68.3000,53.26,62,75,28.77
2,2,Ribeira Grande,PT,2022-01-26 16:12:05,38.5167,-28.7000,63.00,67,75,9.22
3,3,Khatanga,RU,2022-01-26 16:12:05,71.9667,102.5000,-7.76,87,49,9.51
4,4,Hermanus,ZA,2022-01-26 16:12:06,-34.4187,19.2345,71.80,82,98,14.54

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# config maps to use g-key
gmaps.configure(api_key=g_key)

In [7]:
# heatmap of temps
# get lat and long
locations = city_data_df[['Lat', 'Lng']]

# get max temps - google doesn't map negative temps, so remove negatives
max_temp = city_data_df['Max Temp']

# assign the fig variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)


# add heatmap layer
fig.add_layer(heat_layer)

# call the fig to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# heatmap of percent humidity
# get lat and long
locations = city_data_df[['Lat', 'Lng']]

# get percent humidity
humidity = city_data_df['Humidity']

# assign the fig variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=300, point_radius=4)


# add heatmap layer
fig.add_layer(heat_layer)

# call the fig to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# heatmap of cloudiness
# get lat and long
locations = city_data_df[['Lat', 'Lng']]

# get max temps - google doesn't map negative temps, so remove negatives
clouds = city_data_df['Cloudiness']

# assign the fig variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                 dissipating=False, max_intensity=300, point_radius=4)


# add heatmap layer
fig.add_layer(heat_layer)

# call the fig to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# heatmap of wind speeds
# get lat and long
locations = city_data_df[['Lat', 'Lng']]

# get max temps - google doesn't map negative temps, so remove negatives
wind = city_data_df['Wind Speed']

# assign the fig variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                 dissipating=False, max_intensity=300, point_radius=4)


# add heatmap layer
fig.add_layer(heat_layer)

# call the fig to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# ask customer to add min and max temp values
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# filter df to find cities that match criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)].dropna()

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Dingle,PH,2022-01-26 16:12:06,10.9995,122.6711,75.79,93,37,6.44
9,9,Rikitea,PF,2022-01-26 16:12:08,-23.1203,-134.9692,78.12,76,3,20.89
10,10,San Pedro,PH,2022-01-26 16:12:09,14.3500,121.0167,78.10,88,100,10.09
22,22,Mount Isa,AU,2022-01-26 16:12:15,-20.7333,139.5000,76.77,100,100,8.05
23,23,Souillac,MU,2022-01-26 16:12:15,-20.5167,57.5167,77.38,61,20,6.91
25,25,Takoradi,GH,2022-01-26 16:12:16,4.8845,-1.7554,84.42,59,15,8.14
28,28,Pundaguitan,PH,2022-01-26 16:12:18,6.3711,126.1689,80.94,79,67,10.07
33,33,Samarai,PG,2022-01-26 16:12:21,-10.6167,150.6667,82.00,80,82,5.82
35,35,Puerto Ayora,EC,2022-01-26 16:12:22,-0.7393,-90.3518,80.56,76,96,8.57
37,37,Avarua,CK,2022-01-26 16:12:23,-21.2078,-159.7750,78.85,89,75,10.36

In [19]:
preferred_cities_df.count()

City_ID       173
City          173
Country       173
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [20]:
# create df called hotel_df to store hotel names w/ city, country, max temp, and coords
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
5         Dingle      PH     75.79  10.9995  122.6711
9        Rikitea      PF     78.12 -23.1203 -134.9692
10     San Pedro      PH     78.10  14.3500  121.0167
22     Mount Isa      AU     76.77 -20.7333  139.5000
23      Souillac      MU     77.38 -20.5167   57.5167
25      Takoradi      GH     84.42   4.8845   -1.7554
28   Pundaguitan      PH     80.94   6.3711  126.1689
33       Samarai      PG     82.00 -10.6167  150.6667
35  Puerto Ayora      EC     80.56  -0.7393  -90.3518
37        Avarua      CK     78.85 -21.2078 -159.7750

Parameters we will use for hotel search:
* API key
* Lat and Long
* 5000 meter radius
* Type of place

In [23]:
# set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key}

# iterate through the df
for index, row in hotel_df.iterrows():
    # get the lat and long
    lat = row['Lat']
    lng = row['Lng']
    
    # add the lat and long to location key for the params dict
    params['location'] = f'{lat},{lng}'
    
    # use search term: 'loding' and our lat and long
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    # make req and get json data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Dingle,PH,75.79,10.9995,122.6711,SEGAYA PROPERTY
9,Rikitea,PF,78.12,-23.1203,-134.9692,People ThankYou
10,San Pedro,PH,78.10,14.3500,121.0167,Villa Veronica Resort Private Pool
22,Mount Isa,AU,76.77,-20.7333,139.5000,ibis Styles Mt Isa Verona
23,Souillac,MU,77.38,-20.5167,57.5167,Shanti Maurice Resort & Spa
25,Takoradi,GH,84.42,4.8845,-1.7554,Raybow International Hotel
28,Pundaguitan,PH,80.94,6.3711,126.1689,Leonardo Family Beach House 1
33,Samarai,PG,82.00,-10.6167,150.6667,Nuli Sapi
35,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
37,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn

In [26]:
# add a heatmap of temp for vacation spots
# variables
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

# add layers
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# call fig
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = '''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} ÂºF</dd>
'''

# store the df row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# add a heatmap of temp for vacation spots and pop-ups for each city
# variables
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# add layers
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# call fig
fig

Figure(layout=FigureLayout(height='420px'))